html, body{
  margin:0;
  padding:0;

  width:100%;
  height:100%;

  overflow:hidden;

  background:black;
}

/* =========================
   SCREEN
========================= */

.screen{
  position:relative;

  width:100vw;
  height:100vh;

  overflow:hidden;
}

/* =========================
   BACKGROUND IMAGE
========================= */

.bg{
  position:absolute;

  top:0;
  left:0;

  width:100%;
  height:100%;

  object-fit:cover;
}

/* =========================
   INVISIBLE BUTTONS
========================= */

.btn{
  position:absolute;

  background:red;
  opacity:0.35;

  border:2px solid white;

  cursor:pointer;

  transition:0.2s;
}

/* OPTIONAL HOVER */

.btn:hover{
  filter:drop-shadow(0 0 10px white);
}

/* =========================
   MAIN MENU
========================= */

.play{
  left:4.7%;
  top:46.5%;

  width:22%;
  height:4%;
}

.bonus{
  left:4.7%;
  top:58.4%;

  width:22%;
  height:4%;
}

.files{
  left:4.7%;
  top:70.3%;

  width:22%;
  height:4%;
}

/* =========================
   BONUS MENU
========================= */

.scenes{
  left:4.8%;
  top:45.8%;

  width:31%;
  height:4%;
}

.commentary{
  left:4.8%;
  top:58.2%;

  width:31%;
  height:4%;
}

.goback1{
  left:4.8%;
  top:71%;

  width:31%;
  height:4%;
}

/* =========================
   FILES MENU
========================= */

.posters{
  left:4.8%;
  top:46.2%;

  width:30%;
  height:4%;
}

.presskit{
  left:4.8%;
  top:58.6%;

  width:30%;
  height:4%;
}

.goback2{
  left:4.8%;
  top:71.2%;

  width:30%;
  height:4%;
}
