html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
  background:black;
}

/* FULLSCREEN MENU */

.screen{
  position:relative;

  width:100vw;
  height:100vh;

  overflow:hidden;
}

/* 16:9 BACKGROUND */

.bg{
  position:absolute;

  width:100%;
  height:100%;

  object-fit:cover;

  top:0;
  left:0;
}

/* INVISIBLE BUTTONS */

.btn{
  position:absolute;

  background:transparent;

  cursor:pointer;

  transition:0.2s;
}

/* OPTIONAL HOVER EFFECT */

.btn:hover{
  border-bottom:3px solid white;
  filter:drop-shadow(0 0 10px white);
}

/* =========================
   MAIN MENU BUTTONS
========================= */

/* PLAY */

.play{
  left:6%;
  top:43%;

  width:20%;
  height:5%;
}

/* BONUS */

.bonus{
  left:6%;
  top:53%;

  width:20%;
  height:5%;
}

/* FILES */

.files{
  left:6%;
  top:63%;

  width:20%;
  height:5%;
}

/* =========================
   BONUS PAGE BUTTONS
========================= */

.scenes{
  left:6%;
  top:47%;

  width:28%;
  height:5%;
}

.commentary{
  left:6%;
  top:58%;

  width:28%;
  height:5%;
}

.goback1{
  left:6%;
  top:70%;

  width:20%;
  height:5%;
}

/* =========================
   FILES PAGE BUTTONS
========================= */

.posters{
  left:6%;
  top:50%;

  width:24%;
  height:5%;
}

.presskit{
  left:6%;
  top:61%;

  width:24%;
  height:5%;
}

.goback2{
  left:6%;
  top:73%;

  width:20%;
  height:5%;
}
